# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/pmb/result/
!/pmb/result/westworld_s02e01.jpg
/pmb/videos/
!/pmb/videos/small.mp4
